* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem Helvetica;
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 4rem;
  height: 100%;
}

.header {
  grid-area: header;
  padding: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 1, 102);
  color: white;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 1rem;
}
.header-links a:hover {
  color: tomato;
}
.brand a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  display: flex;
  background-color: rgb(0, 43, 43);
  color: white;
  justify-content: center;
  align-items: center;
}

/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  text-align: center;
  flex: 0 1 25rem;
  margin: 3rem;
  height: 30rem;
  border-bottom: 0.1rem rgb(239, 241, 239) solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product-image {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  box-shadow: 0 0.3rem 0.3rem 0 #aaaaaa;
  padding: 1rem;
  transition: all 0.3s;
}

.product-image:hover {
  box-shadow: 0 0.4rem 0.4rem 0 #aaaaaa;
  transform: scale(1.01);
}

.product-name {
  font-size: 1.3rem;
}

.product-brand {
  font-size: 1rem;
  color: gray;
}

.product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.product-rating {
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

/* Sidebar */

.brand button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5s ease-in-out;
  transform: translateX(-30rem);
  width: 25rem;
  height: 100%;
}

/* cubic-bezier(0, 0.9, 0.3, 1.2) */

.sidebar h3 {
  padding: 1rem;
  color: rgb(143, 133, 133);
}

.sidebar ul li {
  padding: 0.5rem;
  padding-left: 2.5rem;
}

.sidebar ul li a {
  color: white;
}

.sidebar ul li a:hover {
  color: tomato;
}

.sidebar.open {
  transform: translateX(0);
  background-color: rgb(37, 87, 62);
}

.sidebar-close-button {
  border-radius: 50%;
  border: none;
  background-color: rgb(24, 59, 41);
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  color: white;
}

.sidebar-close-button:hover {
  opacity: 1;
}

/* Product details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 25rem;
}
.details-image img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}
.details-info {
  flex: 1 1 20rem;
}
.details-actions {
  flex: 1 1 20rem;
}

.details-info ul,
.details-actions ul {
  list-style-type: none;
  padding: 0;
}

.details-info li,
.details-actions li {
  margin-bottom: 0.5rem;
}

.back-to-result {
  padding: 1rem;
}

.details-actions {
  box-shadow: 0 0.3rem 0.3rem 0 #aaaaaa;
  padding: 1rem;
}

.details-actions ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(206, 206, 10);
  border: none;
}

.button:hover {
  background-color: tomato;
}
